.addToFavorite-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}
.addToFavorite-section h1 {
  font-size: 0.8rem;
  font-weight: 400;
}

.addToFavorite-section li {
  list-style: none;
  padding: 0 1rem;
  cursor: pointer;
}

.addToFavorite-section li:hover {
  color: red;
  transform: scale(1.1);
}
