.movieSection {
  height: 70vh;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0 0 0 / 0.2)),
    url("../../assets/images/theGentlemen.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Left Section Style */

.content .left_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex: 1;
  padding-left: 5rem;
}

.left_section h1 {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(163, 163, 163);
}

.typed {
  font-size: 2rem;
  color: white;
  font-weight: bolder;
}

/* Form Style */
.input-section {
  display: flex;
}

 .input-section input {
  width: 15rem;
  height: 3rem;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px);
  padding: 0 1rem;
}

.input-section input:focus {
  border: none;
  padding: 0 1rem;
}

.input-section input::placeholder {
  color: rgb(155, 152, 152);
}
.input-section li {
  display: flex;
  justify-content: center;
  align-items:center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  list-style: none;
  width: 3rem;
  height: 3rem;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px);
}

form button:focus:hover {
  width: 3rem;
  height: 3rem;
  background: #1f58ff;
  color: white;
  border: none;
}

/* Right Section Style */

.content .right_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding-right: 5rem;
}

.posts video{
margin: 0.5rem;
}

.posts h1{
  color: white;
  font-weight: 500;
}

.posts{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  font-weight: 400;
  color: rgb(163, 163, 163);
}
